<link rel="stylesheet" href="./assets/css/reset.css" />
<link rel="stylesheet" href="./assets/css/variables.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
/>
<link rel="stylesheet" href="./components/header/header.css" />
<header class="main-header">
  <div class="search-container">
    <div class="search-box">
      <button class="home-btn" id="btn-home">
        <i class="fas fa-home"></i>
      </button>
      <div class="search-input-wrapper">
        <i class="fas fa-search search-icon"></i>
        <input
          type="text"
          placeholder="What do you want to play?"
          class="search-input"
        />
      </div>
    </div>
  </div>
  <div class="header-actions">
    <div class="auth-buttons" id="auth-buttons">
      <button class="auth-btn signup-btn">Sign up</button>
      <button class="auth-btn login-btn">Log in</button>
    </div>
    <div class="user-menu">
      <div class="user-info">
        <button class="user-avatar" id="userAvatar">
          <img src="../../assets/img/avatar.jpg" alt="User Avatar" />
        </button>
        <p class="user-name"></p>
      </div>
      <div class="user-dropdown" id="userDropdown">
        <div class="dropdown-item" id="logoutBtn">
          <i class="fas fa-sign-out-alt"></i>
          <span>Log out</span>
        </div>
      </div>
    </div>
  </div>
</header>
